@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
#homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("bg-img.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.home-page-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-page-intro * {
    font-family: 'Bebas Neue', sans-serif;
}

.header-text{
    margin: 2rem 0;

}
.btn-div{
    margin: 2rem 0;
}
.slogan {
    position: absolute; 
    bottom: 0; 
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
.homepage-heading{
    text-align: center;
    margin-top: 1.5rem;
}
.header-text > h1{
    color: #60F194;
}
.header-text > h2{
    color: white
}
.header-text * {
    letter-spacing: 0.1cm;
}
.start-btn{
    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid #60F194;
    color: #60F194;
    outline: 1px solid #60F194;
    outline-offset: 3px;
    text-decoration: none;
}

.start-btn:hover {
    box-shadow: 0 0 2rem #426C37;
    font-size: 1.7rem;
    background: #1116;
    color: white;
}

/*  quiz code starts here  */

#quiz{
    min-height:100vh;
    background: url("bg-img2.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.quiz-container{
    background: white;
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    margin: 30px 0px 150px 0px;
}
.option-container > button{
    padding: 10px 20px;
    font-size: 1.2rem;
    background: none;
    border: 1px solid rgba(106, 105, 105, 0.733);
    border-radius: 10px;
    margin: 5px 0px;
    cursor: pointer;
    min-width: 100%;
    max-width: 100%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.option-container > button:hover {
    box-shadow: 0 0 1rem #426C37;
}
.questions-container {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.question-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#next-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: 'Montserrat',sans-serif;
    border: none;
    border-radius: 10px;
    font-weight: 500;
}
#next-btn:hover {
    box-shadow: 0 0 1rem #426C37;
}
#score {
    color:white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1cm;
}
.score-div {
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.tip-div {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    background: aliceblue;
    padding: 25px;
    border-radius: 0;
    position: absolute;
    bottom: 0;
}

/* Custom Scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#426C37, #00dfa2, #426C37);
    border-radius: 5px;
}

@media (max-width: 674px)
{
    .quiz-container{
        width: 90%;
        margin: 30px 0px 200px 0px;
    }
    .tip-div{
        font-size: 1rem;
    }
    #question{
        font-size: 1.1rem !important;
    }
    .option-container > button{
        font-size: 1rem;
    }
}